.container {
    max-width: 960px;
    min-height: 100vh;
}

/* 높이 조정 */
input.form-control,
button.btn,
.form-select {
    padding: 0.25rem 0.5rem;
    height: 38px;
    font-size: 0.9rem;
}

/* 정렬 드롭다운 너비 */
.form-select {
    width: 40%;
}

/* 검색 버튼 너비 */
.btn-search {
    width: 12%;
}